In [3]:
import numpy as np 
import pandas as pd

In [4]:
df= pd.read_csv("cars.csv")

In [6]:
df.sample(5)

        brand  km_driven    fuel         owner  selling_price
1514    Honda      92000  Diesel   First Owner         900000
5544    Honda      60000  Petrol  Second Owner         411000
2156  Hyundai      15000  Petrol   First Owner         610000
7443  Hyundai      15000  Diesel   First Owner         800000
5578   Maruti      80000     LPG  Second Owner         148000

In [18]:
print(df['brand'].value_counts())
print(df['brand'].nunique())
print(df['owner'].value_counts())

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Kia                 4
Ambassador          4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64
32
owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

# 1. OneHotEncoding using Pandas

In [19]:
pd.get_dummies(df, columns=['fuel', 'owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

# 2. k-1 OneHotEncoding

##### K-1 encoding is used to convert a categorical variable with K categories into K-1 dummy variables. It is mainly used in Machine Learning (especially Linear Regression) to avoid the Dummy Variable Trap (multicolarity problem).

In [20]:
pd.get_dummies(df, columns=['fuel', 'owner'], drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

# 3. OneHotEncoding using sklearn

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(df.iloc[:, 0:4], df.iloc[:, -1], test_size=0.2, random_state=0)

In [23]:
X_test.sample(3)

        brand  km_driven    fuel         owner
7865   Maruti      38817  Diesel   First Owner
3910  Hyundai      58609  Petrol  Second Owner
5578   Maruti      80000     LPG  Second Owner

In [63]:
from sklearn.preprocessing import OneHotEncoder
ohe= OneHotEncoder(drop='first', sparse_output=False, dtype= np.int32) 
# drops one of the categories per feature.
# make your encoded data in integer otherwise it will come in floating values.

# X_train_new= ohe.fit_transform(X_train[['fuel', 'owner']]).toarray()
# your data is stored as a sparse matrix, not a normal NumPy array.
# X_test_new= ohe.transform(X_test[['fuel', 'owner']]).toarray()
X_train_new= ohe.fit_transform(X_train[['fuel', 'owner']])
X_test_new= ohe.transform(X_test[['fuel', 'owner']]) 
# no need to do .toarray() if we define sparse_output= False

In [59]:
X_train_new

array([[0, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 1],
       [1, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 0, 1, ..., 1, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]], shape=(6502, 7), dtype=int32)

In [61]:
# Synatx: np.hstack((array1, array2))
# Python thinks you're passing 2 positional arguments if we do np.hstack(array1,array2)
# That tuple is passed as ONE argument

np.hstack((X_train[['brand','km_driven']].values, X_train_new))
# converting them in to numpy arrays so that we can join X_train_new

array([['Hyundai', 60000, 0, ..., 0, 0, 0],
       ['Tata', 150000, 1, ..., 0, 0, 1],
       ['Hyundai', 110000, 1, ..., 1, 0, 0],
       ...,
       ['Hyundai', 90000, 0, ..., 1, 0, 0],
       ['Volkswagen', 90000, 1, ..., 0, 0, 0],
       ['Hyundai', 110000, 0, ..., 0, 0, 0]],
      shape=(6502, 9), dtype=object)

# 4. OneHotEncoding with many categories

In [73]:
counts= df['brand'].value_counts()

In [75]:
df['brand'].nunique()  # 32 unique brands
cutoff_value= 100

In [77]:
rplc= counts[counts<cutoff_value].index
print(rplc)

Index(['Nissan', 'Jaguar', 'Volvo', 'Datsun', 'Mercedes-Benz', 'Fiat', 'Audi',
       'Lexus', 'Jeep', 'Mitsubishi', 'Land', 'Force', 'Isuzu', 'Kia',
       'Ambassador', 'MG', 'Daewoo', 'Ashok', 'Opel', 'Peugeot'],
      dtype='str', name='brand')

In [80]:
pd.get_dummies(df['brand'].replace(rplc, 'Others'), dtype=int)

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Others,Renault,Skoda,Tata,Toyota,Volkswagen
0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,0,0,0,0,1,0,0,0,0,0,0,0,0
8124,0,0,0,0,1,0,0,0,0,0,0,0,0
8125,0,0,0,0,0,0,1,0,0,0,0,0,0
8126,0,0,0,0,0,0,0,0,0,0,1,0,0
8127,0,0,0,0,0,0,0,0,0,0,1,0,0